@model IEnumerable<ChurrasTrinca.Models.ParticipantModel>

@{
    ViewBag.Title = "Lista de participantes";
}

<h2>Listagem de Participantes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContributionValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WithDrink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContributionValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WithDrink)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            @*<td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ParticipantID }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.ParticipantID })
                </td>*@
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Voltar para a listagem de churras", "Index", "Barbecue")
</div>



