@model ChurrasTrinca.Models.BarbecueModel

@{
    ViewBag.Title = "Detalhes do Churras";
}

<h2>@Html.DisplayFor(model => model.Description)</h2>

@using (Html.BeginForm("Index", "Participant", FormMethod.Get))
{
    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WithDrink)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WithDrink)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WithoutDrink)
            </dt>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Visualizar Participantes" class="btn btn-default" />
            </div>
        </div>

        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.WithoutDrink)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalCollected)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalCollected)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Alterar", "Edit", new { id = Model.BarbecueID }) |
        @Html.ActionLink("Voltar a listagem", "Index")
    </p>
}
